.wrap {
  width: 800px;
  margin: 0 auto;
}

.wrap h1 {
  color: blue;
}

.wrap h2 {
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}

.wrap li {
  line-height: 24px;
}

.wrap .link {
  color: red;
}

.wrap .link:hover {
  color: blue;
}

.wrap .wrongInfo {
  text-decoration: line-through;
}

.wrap .hexImg {
  display: inline-block;
  border: 5px solid gray;
  padding: 30px;
}

.wrap .hexImg:hover {
  border-color: pink;
}
