.wrap {
    width: 800px;
    margin: 0 auto;
    h1 {
        color: blue;
    }
    h2 {
        border-left: 5px solid red;
        border-bottom: 5px solid red;
    }
    li {
        line-height: 24px;
    }
    .link {
        color: red;
        &:hover {
            color: blue;
        }
    }
    .wrongInfo {
        text-decoration: line-through;
    }
    .hexImg {
        display: inline-block;
        border: 5px solid gray;
        padding: 30px;
        &:hover {
            border-color: pink;
        }
    }
}
